h1 {
    color: #faf584;
    background-color: #ebb7dd;
    font-family: 'Georgia', serif;
}
footer {
    color: #faf584;
    background-color: #ebb7dd;
    font-family: 'Georgia', serif;
}

header {
    background-color: #ebb7dd;
}

.custom-card {
    background-color: #ffe4b5;
    color: #333;
}
.recc-card {
    background-color: #ffc767;
    color: #333;
}
body {
     font-family: 'Georgia', serif;
}